/* 
* Navigation bar css 
*/
/* Mobile Styles */
nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #F0A000;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

nav span {
  font-family: Bungee, sans-serif;
}

nav div label {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
}

.compose-button {
  color: red;
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0.25em;
  margin: auto;
}

/* Tablet (and desktop) styles */
@media only screen and (min-width: 768px) {
  nav { 
    background-color: #4056A1;
  }
}